* {
    margin: 0;
}

body {
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 80px;
}

#left-menu,
#right-menu {
    padding: 11px 0;
}

#left-menu ul,
#right-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 0;
}

#left-menu ul li,
#right-menu ul li {
    list-style: none;
    padding: 0 12px;
}

#right-menu ul {
    margin: 7px 0;
}

#right-menu ul li:nth-child(3) {
    padding: 0 2.54px 0 0;
}

#menu-bar {
    width: 24px;
    height: 18px;
    cursor: pointer;
}

#logo {
    width: 142px;
    height: 30px;
}

#search-icon {
    width: 15.59px;
    height: 15.59px;
}

#search {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#search p {
    font-size: 16px;
    margin-top: 18px;
}

#not-icon {
    width: 21.52px;
    height: 21.06px;
    cursor: pointer;
}

#profile-pic {
    padding-left: 28.28px;
}

#right-menu ul li p {
    font-size: 16px;
    margin: 0;
}

#down-arr {
    cursor: pointer;
}

#content {
    display: flex;
    background-color: transparent;
}

#container {
    width: auto;
    padding: 25px 29px 30px;
    align-items: center;
    background-color: #FFFFFF;
}

#container ul {
    padding: 0;
}

#container ul li {
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
}

#container ul li a {
    width: 183px;
    height: 43px;
    display: flex;
    padding: 10px;
    align-items: center;
    color: #3E3E3E;
}

#container ul li a:link {
    text-decoration: none;
}

#container ul li:nth-child(1) {
    background-color: #FFF3F4;
}

#container ul li:nth-child(1) a p {
    color: #C8242F;
}

#container ul li a p {
    margin: 0 0 0 12.5px;
}

#container ul li a img {
    width: 15px;
    height: 15px;
}

#dashboard {
    width: 100%;
    padding: 40px;
}

#dashboard h1 {
    font-size: 30px;
    margin-bottom: 22.5px;
}

#list {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.list-items {
    display: flex;
    width: 219.4px;
    height: 116px;
    margin: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 31.04px 26.7px 33.87px 30.03px;
    align-items: center;
}

.list-icon:nth-child(1) {
    width: 33.33px;
    height: 33.34px;
}

.list-icon:nth-child(2) {
    width: 23.33px;
    height: 23.34px;
}

.list-icon:nth-child(3) {
    width: 26px;
    height: 26px;
}

.list-icon:nth-child(4) {
    width: 33.34px;
    height: 33.33px;
}

.list-icon:nth-child(5) {
    width: 28.55px;
    height: 30px;
}

.list-desc {
    color: #3E3E3E;
    padding-left: 19.33px;
}

.num {
    font-size: 25px;
    margin: 0;
}

.list-name {
    font-size: 15px;
    margin: 0;
}

#mid-items {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

#graph,
#pie-chart {
    background-color: #FFFFFF;
    margin: 10px 0;
}

#graph {
    /* max-width: 802px; */
    width: auto;
    height: auto;
    padding: 23.52px 29.42px 28.9px 28px;
    margin-right: 20px;
    border-radius: 5px;
}

#graph img {
    width: 100%;
}

#graph-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12.98px;
}

#left-view h4 {
    margin: 0;
    font-size: 22px;
    color: #3E3E3E;
}

#right-view ul {
    display: flex;

}

#right-view ul li {
    list-style: none;
    margin-right: 20.58px;
    font-size: 12px;
    cursor: pointer;
    color: #ADADAD;
}

#right-view ul li:nth-child(3) {
    color: #C8242F;
    text-decoration: underline;
}

#pie-chart {
    width: 385px;
    height: auto;
    border-radius: 5px;
    padding: 21.52px 39px 34.87px 29px;
}

#pie-chart h3 {
    font-size: 22px;
    color: #3E3E3E;
    margin-bottom: 27.48px;
}

#pie-chart img {
    width: 230px;
    height: 230px;
    display: flex;
    margin: 0 auto;
}

#row-list {
    display: flex;
    justify-content: space-between;
}

.rows {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rows span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.rows p {
    margin: 0;
    margin-left: 9px;
}

#red {
    background-color: #C8242F;
}

#green {
    background-color: #A2B86C;
}

#orange {
    background-color: #F16C20;
}

#yellow {
    background-color: #EBC844;
}

#last-row {
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    padding: 22.52px 29px 26.87px 29px;
    border-radius: 5px;
}

#last-row div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36.61px;
}

#last-row div h3 {
    font-size: 22px;
    color: #3E3E3E;
    margin: 0;
}

#last-row div p {
    font-size: 12px;
    color: #C8242F;
    margin: 0;
}

table {
    color: #3E3E3E;
    font-weight: normal;
}

table tr td:nth-child(5) {
    text-align: center;
}

table th {
    color: #ADADAD;
    font-weight: normal;
    letter-spacing: 1.5px;
}


table tr:nth-child(n+1):nth-child(-n+9) {
    border-bottom: 1px solid #E9E9E9;
}

.paid {
    background-color: #EBFFEF;
    color: #3CDD5F;
}

.failed {
    color: #FF4545;
    background-color: #FFF5F5;
}

.pending {
    color: #BABABA;
    background-color: #F8F8F8;
}

@media (max-width: 575px){
    #left-menu, #right-menu{
        padding: 10px 0;
    }
    nav{
        height: 60px;
    }
    #left-menu ul{
        padding: 0 5px;
    }
    #left-menu ul li {
        padding: 0 4px;
    }
    #right-menu ul{
        padding: 0 5px;
    }
    #right-menu ul li{
        padding: 0 4px;
    }
    #right-menu ul li p{
        font-size: 10px;
    }

    #not-icon{
        width: 15px;
        height: 15px;
    }

    #profile-pic{
        padding-left: 10px;
        width: 40px;
        height: 30px;
    }
    #down-arr{
        width: 15px;
        height: 15px;
    }

    #search ul {
        padding: 0;
    }

    #search p {
        font-size: 10px;
    }

    #logo {
        width: 90px;
    }

    #dashboard h1 {
        font-size: 20px;
    }

    .list-items {
        width: 150px;
        height: 90px;
        padding: 0 5px;
        margin: 5px;
    }

    .list-items .list-icon {
        width: 25px;
        height: 25px;
    }

    .num {
        font-size: 18px;
    }

    .list-desc {
        font-size: 8px;
        padding-left: 10px;
    }

    #mid-items {
        width: 100%;
    }

    #dashboard {
        padding: 20px;
    }

    #container {
        padding: 20px 10px;
    }

    #container ul li a {
        width: 120px;
        height: 35px;
    }

    #container ul li a p {
        margin-left: 7px;
    }

    #graph{
        padding: 10px;
        margin: 0 0 20px 0;
    }

    #pie-chart {
        padding: 10px;
        width: 300px;
        margin: 10px auto;
    }

    .rows span {
        width: 15px;
        height: 15px;
    }

    #pie-chart h3,
    #left-view h4,
    #last-row div h3 {
        font-size: 18px;
    }

    #right-view ul li {
        font-size: 10px;
    }

    .rows p {
        font-size: 12px;
    }

    #last-row {
        overflow: scroll;
        padding: 10px;
    }

    table th, table tr td{
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #left-menu ul li {
        padding: 0 5px;
    }

    #right-menu ul li{
        padding: 0 6px;
    }

    #profile-pic{
        padding-left: 20px;
    }

    #search ul {
        padding: 0;
    }

    #search p {
        font-size: 15px;
    }

    #logo {
        width: 120px;
    }

    #dashboard h1 {
        font-size: 20px;
    }

    .list-items {
        width: 150px;
        height: 90px;
        padding: 0 10px;
    }

    .list-items .list-icon {
        width: 25px;
        height: 25px;
    }

    .num {
        font-size: 18px;
    }

    .list-desc {
        font-size: 8px;
        padding-left: 10px;
    }

    #mid-items {
        width: 100%;
    }

    #dashboard {
        padding: 20px;
    }

    #container {
        padding: 20px 10px;
    }

    #container ul li a {
        width: 120px;
        height: 35px;
    }

    #container ul li a p {
        margin-left: 7px;
    }

    #graph{
        margin: 10px auto;
    }

    #pie-chart {
        margin: 10px auto;
        width: 300px;
    }

    #pie-chart h3,
    #left-view h4,
    #last-row div h3 {
        font-size: 18px;
    }

    #right-view ul li {
        font-size: 10px;
    }

    .rows p {
        font-size: 13px;
    }

    .rows span {
        width: 15px;
        height: 15px;
    }

    #last-row {
        overflow: scroll;
    }

    table th, table tr td{
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #dashboard h1 {
        font-size: 22px;
    }

    .list-items {
        width: 200px;
        height: 100px;
    }

    .list-icon {
        width: 28px;
        height: 28px;
    }

    .num {
        font-size: 18px;
    }

    .list-desc {
        font-size: 10px;
        padding-left: 10px;
    }

    #mid-items {
        width: 100%;
    }

    #dashboard {
        padding: 20px;
    }

    #container {
        padding: 20px 10px;
    }

    #container ul li a {
        width: 130px;
        height: 40px;
    }

    #container ul li a p {
        margin-left: 7px;
    }

    #graph{
        margin: 10px auto;
    }

    #pie-chart{
        margin: 10px auto;
    }

    #pie-chart h3,
    #left-view h4,
    #last-row div h3 {
        font-size: 20px;
    }

    .rows p {
        font-size: 15px;
    }

    #last-row {
        overflow: scroll;
    }

    table {
        max-width: 100%;
    }

    table th, table tr td{
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #dashboard h1 {
        font-size: 25px;
    }

    .num {
        font-size: 20px;
    }

    .list-desc {
        font-size: 13px;
    }

    #mid-items {
        width: 719px;
    }

    #dashboard {
        padding: 35px;
    }

    #container {
        padding: 20px 10px;
    }

    #pie-chart h3,
    #left-view h4,
    #last-row div h3 {
        font-size: 20px;
    }

    .rows p {
        font-size: 15px;
    }

    table th,
    table tr td {
        font-size: 12px;
    }

}

@media (min-width: 1200px) and (max-width: 1399px) {
    #dashboard h1 {
        font-size: 27px;
    }

    .num {
        font-size: 22px;
    }

    .list-desc {
        font-size: 14px;
    }
}